extends ../../../components/layout/templates/main

block content
  section#explore
    .left-text.text-container.column
      .heading #{sd.WORKS_NUM} works &#8211; connected by The Art Genome Project
      p The world's largest database of contemporary and historical art, with for sale and reference works by Andy Warhol, Claude Monet, Marina Abramovic, Jeff Koons, Cindy Sherman, and #{sd.ARTISTS_NUM} more artists.
    .phone-content-area.column
  section#browse
    .phone-content-area.column
    .right-text.text-container.column
      .heading Leading shows & art fairs from around the world
      p Comprehensive coverage of over #{sd.GALLERIES_NUM} galleries, #{sd.MUSEUMS_NUM} museums, and #{sd.FAIRS_NUM} international art fairs &#8211; including #{sd.PARTNER_HIGHLIGHT_COPY}.
  section#collect
    .left-text.text-container.column
      .heading Collect with Artsy
      p Connect with galleries from around the world and purchase select works straight from the app. Artsy's team of specialists can help, whether you're an experienced collector or just starting out.
    .phone-content-area.column
